@media only screen and (min-width: 75rem) {
  nav {
    padding: 0.1em;
  }
  ul {
    max-width: 900px;
    margin-left: 250px;
    grid-template-columns: repeat(6, 1fr);
    padding: 0.05em;
    display: flex;
  }
  ul li {
    display: block;
    flex: 1 1 auto;
  }
  ul a {
    text-align: center;
    font-size: 1.4em;
  }
  ul li:first-child {
    display: none;
  }
  #header_top {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 53px;
    background: #fff;
  }
  #summary{
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #summary div{
    border: 2px solid;
  }
  #summary p{
    padding: 5px;
    font-size: 16px;
  }
  #summary .btn-v{
    background-color: aqua
  }
  .row {
    
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.slider {
  background: white;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
}