@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cormorant+Upright:wght@300&display=swap');
*, html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header, footer {
    font-family: 'Bree Serif', serif;
}

body {
    font-family: 'Cormorant Upright', serif;
}

body a {
    text-decoration: none;
    color: black;
}

/*Menu- Nav Bar*/

nav {
    margin: 0 auto;
    background-color: snow;
    color: black;
    padding: 0.69em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

nav ul .active {
    background-color: lightseagreen;
    border-radius: 1.5em;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

ul li:first-child {
    display: block;
}

ul li {
    display: none;
}

ul a {
    color: black;
    display: block;
    padding: 0.5em;
    border-radius: 1.5265em;
    font-weight: 200;
    font-size: 1.4em;
}

ul a:hover {
    background-color: #4169e1;
}

.responsive li {
    display: block;
}

a {
    text-decoration: none;
}

/*Header*/

header picture img {
    max-width: 400px;
    width: 100%;
    margin-top: -5px;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.search-container {
    padding: 20px;
    float: none;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: lightskyblue;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

header input[type=text], header .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}

header input[type=text] {
    border: 1px solid #ccc;
}

#social {
    float: right;
    text-align: right;
    padding: 10px 100px 0 40px;
    height: 33px;
    line-height: 33px;
    vertical-align: middle;
}

#social a {
    gap: 5px;
    display: inline-block;
    margin-left: 8px;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    font-size: 25px;
    color: #000 solid;
    text-align: center;
    border-radius: 100px;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

/*Text Slider */

.text-slider {
    padding: 15px;
}

.text-slider h1 {
    padding: 5px;
    font-size: 2em;
    text-align: center;
}

.mySlides h2 {
    font: 25px;
}

.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
}

.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/*News and Events Sections*/

#news {
    text-align: center;
    vertical-align: middle;
}

h3, h4 {
    text-align: center;
    font-size: 25px;
}

.row {
    padding: 10px ;
    display: flex;
    display: grid;
    grid-template-columns: 1fr;
}

.column {
    flex: 50%;
    gap: 10px;
    height: auto;
    text-align: center;
}

.news, .events {
    gap: 10px;
    text-align: center;
    padding: 10px;
}

.news img, .events img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.news p, .events p {
    font-size: 20px;
}

.news button, .events button {
    font-size: large;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

/*Weather Section*/

#summary {
    padding: 10px;
    text-align: center;
    box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#summary #weather {
    border: 1px solid;
    padding: 5px;
}