.top-nav {
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transition: top .75s ease-in;
    transition: top .75s ease-in;
    background-color: transparent;
}

.top-nav .menu {
    list-style: none;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    max-height: 0;
    -webkit-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out;
}

.top-nav .menu li a {
    display: inline-block;
    min-width: 75px;
    margin: .3em 0;
    padding: 0 10px;
    -webkit-transition: 1s all;
    transition: 1s all;
    text-decoration: none;
    font-size: 20px;
}

.top-nav .menu li a:link, .top-nav .menu li a:visited {
    color: #0d0d0d;
}

.top-nav .menu li a:focus, .top-nav .menu li a:hover, .top-nav .menu li a:active {
    -webkit-transform: scale(1.1) rotate(-2deg);
    transform: scale(1.1) rotate(-2deg);
    color: #20232d;
}

.top-nav .logo {
    display: inline-block;
    max-width: 200px;
}

.top-nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
}

.top-nav .menu-icon .navicon {
    background: #20232d;
    display: block;
    height: 2px;
    position: relative;
    width: 1.625rem;
}

.top-nav .menu-icon .navicon:before, .top-nav .menu-icon .navicon:after {
    background: #20232d;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 100%;
}

.top-nav .menu-icon .navicon:before {
    top: 7px;
}

.top-nav .menu-icon .navicon:after {
    top: -7px;
}

.top-nav .menu-btn {
    display: none;
}

.top-nav .menu-btn:checked~.menu {
    max-height: 300px;
}

.top-nav .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.top-nav .menu-btn:checked~.menu-icon .navicon:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.top-nav .menu-btn:checked~.menu-icon .navicon:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.top-nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .top-nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

*, html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-image: url("/lesson12/images/5333978.jpg ");
    width: 100%;
    height: 100vh;
}

/*Section In Header*/
section{
    margin-top: -450px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
}

img {
    text-align: center;
}

.trans--grow {
    -webkit-transition: width 1s ease-out;
    /* For Safari 3.1 to 6.0 */
    transition: width 1s ease-out;
    width: 0%;
}

.grow {
    width: 100%;
}

.hr1 {
    margin-left: 0;
}

.hr2 {
    margin-right: 0;
}

hr {
    max-width: 500px;
    padding: 2px 0;
    border: none;
    background-color :#20bf55;
    background-image :linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    
    letter-spacing: 5px;
}