@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cormorant+Upright:wght@300&display=swap');
*, html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header, footer {
    font-family: 'Bree Serif', serif;
}

body {
    font-family: 'Cormorant Upright', serif;
}

body a {
    text-decoration: none;
    color: black;
}

/*Menu- Nav Bar*/

nav {
    margin: 0 auto;
    background-color: snow;
    color: black;
    padding: 0.69em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

nav ul .active {
    background-color: lightseagreen;
    border-radius: 1.5em;
}
nav ul .activi{
    background: aqua;
    color: snow;
    border-radius: 1.5em;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

ul li:first-child {
    display: block;
}

ul li {
    display: none;
}

ul a {
    color: black;
    display: block;
    padding: 0.5em;
    border-radius: 1.5265em;
    font-weight: 200;
    font-size: 1.4em;
}

ul a:hover {
    background-color: #4169e1;
}

.responsive li {
    display: block;
}

a {
    text-decoration: none;
}

/*Header*/

header picture img {
    max-width: 400px;
    width: 100%;
    margin-top: -5px;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.search-container {
    padding: 20px;
    float: none;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: lightskyblue;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

header input[type=text], header .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}

header input[type=text] {
    border: 1px solid #ccc;
}

#social {
    float: right;
    text-align: right;
    padding: 10px 100px 0 40px;
    height: 33px;
    line-height: 33px;
    vertical-align: middle;
}

#social a {
    gap: 5px;
    display: inline-block;
    margin-left: 8px;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    font-size: 25px;
    color: #000 ;
    text-align: center;
    border-radius: 100px;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

/*Text Slider */

.text-slider {
    padding: 15px;
}

.text-slider h1 {
    padding: 5px;
    font-size: 2em;
    text-align: center;
}

.mySlides h2 {
    font: 25px;
}

.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
}

.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/*News and Events Sections*/

#news {
    text-align: center;
    vertical-align: middle;
}

h3, h4 {
    text-align: center;
    font-size: 25px;
}

.row {
    padding: 10px;
    display: flex;
    display: grid;
    grid-template-columns: 1fr;
}

.column {
    flex: 50%;
    gap: 10px;
    height: auto;
    text-align: center;
}

.news, .events {
    gap: 10px;
    text-align: center;
    padding: 10px;
}

.news img, .events img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.news p, .events p {
    font-size: 20px;
}

.news button, .events button {
    font-size: large;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

.summary {
    text-align: center;
}

.btnt {
    font-size: large;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

/*Weather Section*/

#summary {
    padding: 10px;
    text-align: center;
    box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#summary #weather {
    border: 1px solid;
    padding: 5px;
}

/*Memebrs*/

#executive {
    padding: 10px;
    text-align: center;
}

#executive button {
    font-size: large;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: white;
    -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.slider::before, .slider::after {
    background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 300px;
}

/*Footer*/

.footer-distributed {
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed img {
    max-width: 365px;
    width: 100%;
    height: auto;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #000;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #000;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}
