
* {
    box-sizing: border-box;
  }
html {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
body {
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
}
.header {
    text-align: center;
    background-color: deepskyblue;
    border: 0.125em solid cyan;
    padding: 0.125em;
    border-radius: 1.5625em;
}
p{
    font-size: 1em;
}
main{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.625em;
}
section {
    background-color: #FFF5EE;
    border-radius: 0.9375em;
    text-align: center;
    margin: 0.625em;
  }
  section a{
      color: black;
  }
h2,h3,p{
    color: hsla(200,0%,0%,.7);
}
.description{
    padding: 1em;
}
footer {
    text-align: center;
    background-color: deepskyblue;
    border: 0.125em solid cyan;
    border-radius: 1.25em;
    padding: 0.0625em;
}
footer a{
    color:hsla(200,0%,0%,.7);
}
.responsive{
    max-width: 23em;
    width: 100%;
    height: auto;
    padding: 0.625em;
}

.outer {
    text-align: center;
    line-height: 0.7;
}

.up {
    font-size: 0.9375em;
}

.date {
    color: hsla(200, 0%, 0%, .7);
}