@media only screen and (min-width: 75rem) {
  header {
    align-items: center;
    justify-content: center;
  }
  h1 {
      
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.6em;
  }
  p {
    font-size: 1.3em;
  }
  nav{
    grid-template-columns: repeat(6,1fr);
  }
  .nav {
    display: flex;
  }

  .nav li {
    display: block;
    flex: 1 1 auto;
  }

  .nav a {
    text-align: center;
  }

  .nav li:first-child {
    display: none;
  }
}
