@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
main{
    background-color: #D5E0E6;
    text-align: center;
    padding: 0.7em;
    
}
.head1 {
  background-color: #041a4d;
  padding: 0.9em;
}
.responsives{
    float: left;
}
h1{
  font-family: "EB Garamond", serif;
  
}
p{
  font-size: 1.2em;
}
main div{
font-size: 1.3em;
}
.head1 h1,
.motto {
  color: #fafefd;
}
.motto {
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
  padding: 0.06em;
}

nav {
  margin: 0 auto;
  background-color: #a3c7d9;
  color: black;
  padding: 0.69em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.nav {
  list-style: none;
  text-align: center;
  padding: 0;
}

.nav li:first-child {
  display: block;
}

.nav li {
  display: none;
}

.nav a {
  color: black;
  display: block;
  padding: 0.5em;
  border-radius: 1.5265em;
  font-weight: 200;
  font-size: 1.4em;
}

.nav a:hover {
  background-color: #fafefd;
}

.responsive li {
  display: block;
}
a {
  text-decoration: none;
}
.heading {
    text-align: center;
  }
  .contents{
    display: block;
    margin: 10px auto;
    border: 1px dashed whitesmoke;
    padding: 15px;
    background-color: rgb(48,48,48);
    color: white;
    font-style: italic;
  }

footer {
  text-align: center;
  padding: 0.04em;
  background-color: #e6d5b8;
}
footer a {
  color: black;
}
