* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	height: 80vh;
	font-size: 18px;
	align-items: center;
	justify-content: center;
}
h1{
	font-family: 'Lobster', cursive;
	transition: 0.01s;
    text-shadow: 2px 2px 4px #fff;
}
main {
	max-width: max-content;
	padding: 10px;
	border-radius: 1.52653em;
	background-color: #bed;
}
input,
button {
	padding: 0.5rem;
}

label {
	font-size: 1rem;
}
ul {
	margin: 1rem;
	list-style: none;
}
li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .5rem;
	cursor: pointer;
	transition: 0.2s;
	padding: 12px 8px 12px 40px;
}
ul li.checked {
	background: #888;
	color:#000000;
	text-decoration: line-through;
  }
  .removeButton {
	background-color: #f44336;
	color: white;
	
  }
  .upButton:hover{
	  background-color: blue;
  }
  .downButton:hover{
	  background-color: blue;
  }
  .add{
	  padding: 3px;
	  cursor: pointer;
	  transition: 0.3s;
	  text-align: center;
	  border-radius: 1.5265em;
  }
  .add:hover {
	background-color:aqua;
  }
  @media only screen and (min-width: 75rem){
	body {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 18px;
	}
	main{
		font-family: 'Rubik', sans-serif;
	}
  }