@media only screen and (min-width: 75rem) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.6em;
  }
  p {
    font-size: 1em;
  }
  nav {
    padding: 0.1em;
  }
  ul {
    max-width: 900px;
    margin-left: 250px;
    grid-template-columns: repeat(6, 1fr);
    padding: 0.05em;
    display: flex;
  }

  ul li {
    display: block;
    flex: 1 1 auto;
  }

  ul a {
    text-align: center;
    font-size: 1.4em;
  }

  ul li:first-child {
    display: none;
  }
  main {
    margin: auto 0;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1300px;
    margin: 0 auto;
  }
  #Hero img {
    max-width: 1300px;
    width: 100%;
    height: auto;
  }
  .cards section {
    display: block;
    width: 400px;
  }
}
