
body {
    margin: 0 auto;
    background-color: #FFFFFF;
  }
  
  caption {
    background-color: #7fb9c2;
    font-size: 1.5em;
    font-weight: bold;
    padding: 8px;
    box-shadow: 8px 8px 12px #5e9097;  
  }
  
  header {
    align-items:center;
    justify-content: center;
    display: flex;
    padding: 5px 0;
  }
  
  h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 1.8em;
    text-shadow: 1px 1px 1px #05386b;
  }
  
  tfoot tr td {
    background-color: #7fb9c2;
    text-align: center;
    font-size: .7em;
    padding: 5px;
  }
  
  th {
    background-color: #628CA6;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    border: solid 1.5px #cdcdcd;
  }
  
  td {
    border: solid 1.5px #cdcdcd;
    padding: 5px;
  }
  
  tr:nth-child(odd) {
    background: #E7F0ED;
  }
  
  tr:nth-child(even) {
    background: #E7FFED;
  }
  
  tr:nth-child(4) td:nth-child(3) {
    background-color: #628CA6;
    color: white;
  }
  tr:nth-child(5) td:nth-child(1) {
    font-style: italic;
  }
  
  #money {
    font-family: Ubuntu, sans-serif;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    border: solid 1px #cdcdcd;
    border-collapse: collapse;
    box-shadow: 8px 8px 12px #5e9097;
  }
  
  