@media only screen and (min-width: 75rem) {
    @media only screen and (min-width: 75rem) {
        header {
          align-items: center;
          justify-content: center;
        }
        h1 {
            
          font-size: 2em;
        }
        h2 {
          font-size: 1.6em;
        }
        p {
          font-size: 1em;
        }
        nav{
          padding: 0.1em;
        }
        ul{
          grid-template-columns: repeat(6,1fr);
          padding: 0.05em;
        }
        ul {
          display: flex;
        }
      
        ul li {
          display: block;
          flex: 1 1 auto;
        }
      
        ul a {
          text-align: center;
          font-size: 0.9em;
        }
      
        ul li:first-child {
          display: none;
        }
        main div, footer{
          border-radius: 1.526em;
          max-width: 1000px;
        }
      }
       
}
