@media only screen and (min-width: 75rem) {
  
  h1 {
      
    font-size: 2em;
  }
  h2 {
    font-size: 1.6em;
  }
  p {
    font-size: 1em;
  }
  nav{
    padding: 0.1em;
  }
  ul{
    grid-template-columns: repeat(6,1fr);
    padding: 0.05em;
  }
  ul {
    display: flex;
  }

  ul li {
    display: block;
    flex: 1 1 auto;
  }

  ul a {
    text-align: center;
    font-size: 0.9em;
  }

  ul li:first-child {
    display: none;
  }
  #article_img{
    width: 70%;
  }
  .summary {
    position: absolute;
    top: 40px;
    left: 100px;
    background: radial-gradient(#eee, #EDF5E1);
    border: 1px solid #000;
    padding: 1rem;
    box-shadow: 0 0 30px #111;
    opacity: .7;
  }
  .headdiv img{
    max-width: 1000px;
    width: 100%;
    height: 400px;
  }
  
  table{
    max-width: 800px;
  }

  #fiveDay {
    width: 800px;
  }
 
}