@media only screen and (min-width: 40em) {
  nav {
    margin: 0 auto;
    background-color: #a3c7d9;
    color: black;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.4em;
  }
  p {
    font-size: 1.1em;
  }
  #announce {
    height: 25px;
    padding: 20px;
  }

  #article_img {
    padding-left: 5px;
    float: right;
    width: 50%;
  }

  .contact_info {
    grid-column: 2;
    grid-row: 1;
  }

  .contactdiv {
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #000;
  }
  .forecastdiv {
    display: block;
  }
  .summary {
    position: absolute;
    top: 25px;
    left: 50px;
    background: radial-gradient(#eee, #edf5e1);
    border: 1px solid #000;
    padding: 1rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.8;
  }
  table{
    max-width: 600px;
  }
  .main{
    margin: 0 auto;
    max-width: 800px;
  }
  .headdiv img {
    max-width: fit-content;
  }
}
