@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
main{
    background-color: #D5E0E6;
    text-align: center;
    padding: 0.7em;
}
header {
  background-color: #041a4d;
  color: #fafefd;
  align-items:center;
  justify-content: center;
  display: flex;
  
}

header img {
  max-width: 250px;
  width: 100%;
  height: auto;
  padding-right: 10px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading h1 {
  font-size: 1.8em;
  font-family: "EB Garamond", serif;
  margin-bottom: 0px;
}
.motto {
  font-style: italic;
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
  letter-spacing: 1pt;
}
nav {
  margin: 0 auto;
  background-color: #a3c7d9;
  color: black;
  padding: 0.69em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
nav ul .active {
  background-color: lightblue;
  border-radius: 1.5em;
}
ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

ul li:first-child {
  display: block;
}

ul li {
  display: none;
}

ul a {
  color: black;
  display: block;
  padding: 0.5em;
  border-radius: 1.5265em;
  font-weight: 200;
  font-size: 1.4em;
}

ul a:hover {
  background-color: #fafefd;
}

.responsive li {
  display: block;
}
a {
  text-decoration: none;
}
footer {
  margin: 0 auto;
  text-align: center;
  padding: 0.04em;
  background-color: #e6d5b8;
}
footer a {
  color: black;
}
