body {
  text-align: center;
  
}
main {
  background-color:#D5E0E6;
  text-align: center;
  padding: 0.7em;
}
.main{
  background-color: white ;
  padding: 30px;
  border-radius: 30px 60px;
}
header {
  background-color: #041a4d;
  color: #fafefd;
  align-items: center;
  justify-content: center;
  display: flex;
}
header img {
  max-width: 250px;
  width: 100%;
  height: auto;
  padding: 5px;
  padding-right: 10px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading h1 {
  float: right;
  font-size: 1.8em;
  font-family: "EB Garamond", serif;
  margin-bottom: 0px;
}
.motto {
  padding: 5px;
  font-style: italic;
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
  letter-spacing: 1pt;
}
nav {
  margin: 0 auto;
  background-color: #a3c7d9;
  color: black;
  padding: 0.69em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
nav ul .active {
  background-color: lightseagreen;
  border-radius: 1.5em;
}
ul {
  list-style: none;
  text-align: center;
  padding: 0;
  
}

ul li:first-child {
  display: block;
}

ul li {
  display: none;
}

ul a {
  color: black;
  display: block;
  padding: 0.5em;
  border-radius: 1.5265em;
  font-weight: 200;
  font-size: 1.4em;
}

ul a:hover {
  background-color: #fafefd;
}

.responsive li {
  display: block;
}
a {
  text-decoration: none;
}
.headdiv {
  margin: 10px auto;
  position: relative;
}

.headdiv img {
  max-width: 500px;
  width: 100%;
  height: auto;
  
}

.summary {
  position: absolute;
  top: 0px;
  font-size: 0.65em;
  background: radial-gradient(#eee, #edf5e1);
  border-radius: 1.5265em;
  border: 1px solid #000;
  padding: 5px;
  box-shadow: 0 0 30px #111;
  opacity: 0.8;
}

.summary p {
  color: #05386b;
  font-weight: bolder;
}
#fiveDay {
  margin: 0 auto;
  width: 700px;
  text-align: center;
  color: #05386b;
}
th{
  padding: 5px;
}

td {
  border: 1px solid #000;
}
#forecastDay {
  background-color: #041a4d;
  color: #fafefd;

}
table {
  max-width: 300px;
  
}
tbody img {
  max-width: 100px;
  width: 100%;
  height: auto;
}
.articlediv {
  display: block;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #000;
}
.articlediv img {
  max-width: 300px;
  width: 100%;
  height: auto;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#announce {
  display: none;
  background-color: #a3c7d9;
  color: black;
  text-align: center;
  font-size: 1.2em;
  padding: 5px;
  font-weight: bold;
}
.contact_info {
  grid-column: 1;
  margin: auto;
  background-color: #041a4d;
  color: #edf5e1;
  padding: 10px;
  border-radius: 10px 40px 10px;
}
.map{
  margin-left: -15px;
  border-radius: 60px/20px;
  box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact_info h3,
.contact_info h4 {
  text-align: center;
}
.contactdiv {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  
}

footer {
  margin: 0 auto;
  text-align: center;
  padding: 0.04em;
  background-color: #e6d5b8;
}
footer a {
  color: black;
}
.townEvents, .townEvent {
  border: 2px solid #000;
  box-shadow: 5px 5px #041a4d;
  margin: 15px auto;
  text-align: center;
  width: 50%;
}

.townEvents p , .townEvent p{
  color: #041a4d;
}
.townEvents hr , .townEvent hr{
  background-color: #05386b;
  color: #05386b;
  height: 1.5px;
  width: 85%;
}

/*--cyber-yellow: hsla(48, 98%, 57%, 1);
--cyan-process: hsla(199, 84%, 57%, 1);
--green-blue-crayola: hsla(205, 74%, 45%, 1);
*/
@media only screen and (max-width : 280px){
  table{max-width: 50px;}
  .map{
    max-width: 210px;
  }
  .contact_info{max-width: 200px;
  margin-left: -20px;}
  .four,.five{
    display: none;
  }
}