@media only screen and (min-width: 75rem){
    nav ul{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 1.4em;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.6em;
    }
    p{
        font-size: 1.2em;
    }
    .colum{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .responsive{
        max-width: 19em;
        width: 100%;
        height: 14em;
    }
}