@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
  padding: 1.7em;
}
main {
  border-radius: 1.5625em;
  padding: 0.9em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fonth {
  font-family: "Dancing Script", cursive;
}
.bodyp {
  font-family: "EB Garamond", serif;
}
.color-scheme {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.625em;
}

.typo {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.625em;
  padding: 0.7em;
}
.typo section {
  border-radius: 1.6em;
  background-color: aliceblue;
}
.fonts {
  max-width: 17em;
  width: 100%;
  height: auto;
  border-radius: 1.6em;
}
.column {
  float: inline-start;
  width: 95%;
  padding: 0.6em;
  font-size: 1.1em;
  cursor: pointer;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerTab {
  padding: 0.06em;
  color: black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.closebtn {
  float: right;
  color: black;
  cursor: pointer;
  font-size: 2em;
}
header, .person {
  text-align: center;
}
a {
  text-decoration: none;
}
section a {
  color: black;
}
.head {
  background-color: #041a4d;
  padding: 0.06em;
  border-radius: 1.5625em;
}
.head1 {
  background-color: darkslateblue;
}
.head h1 {
  color: #fafefd;
}
nav {
  background-color: #a3c7d9;
  margin: 0 auto;
  color: black;
  padding: 0.7em;
  border-radius: 1.5625em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav ul {
  font-size: 1.3em;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav a {
  color: black;
  text-decoration: none;
}
nav ul li a {
	display: block;
	text-align: center;
	padding: 0.7em;
    border-radius: 1.5625em;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
  background-color: #fafefd;;
}

h1 {
  padding: 0.1em;
  font-size: 1.7em;
  font-family: "Dancing Script", cursive;
}
footer {
  text-align: center;
  padding: 0.04em;
  background-color: #e6d5b8;
  border-radius: 1.5625em;
}
footer a {
  color: black;
}

.responsive {
  max-width: 20.5em;
  width: 100%;
  height: 10.75em;
  border-radius: 1.4em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.color1 {
  color: #041a4d;
}
.color2 {
  color: #a3c7d9;
}
.color4 {
  color: #e6d5b8;
  background-color: #041a4d;
}
.h {
  color: #fafefd;
  background-color: #041a4d;
}
.res {
  max-width: 19em;
  width: 100%;
  height: auto;
  border-radius: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
table {
  text-align: center;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  
  padding: 8px;
}
.zoom img{
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: 0.5s all ease-in-out;
}
.zoom:hover img{
  transform: scale(1.6);
}